<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kinmelmain"
        android:supportsRtl="true"
        android:theme="@style/Theme.KinMel"
        android:usesCleartextTraffic="true">
<!--        tools:targetApi="31">-->
        <!-- android:name=".NavigationBar" -->
        <activity
            android:name=".BuyerLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".NavigationBar" />
        <activity android:name=".UpdatePasswordActivity"
            android:theme="@style/UpdatePasswordTheme">
        </activity>
        <activity android:name=".BuyerSignUp" /> <!-- <activity android:name=".BuyerLogin" /> -->
        <activity android:name=".OTPPage" />
        <activity android:name=".UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity android:name=".ProductPage"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
    </application>

</manifest>